/*
  Container spacing
*/
@media (max-width: 1280px) {
  .container {
    max-width: none;
    padding: 0 100px;
  }

  .bm-burger-button {
    right: 100px !important;
  }

  #mobile-nav {
    .bm-cross-button {
      right: 35px !important;
    }
  }
}

@media (max-width: 768px) {
  .container {
    max-width: none;
    padding: 0 50px;
  }

  .bm-burger-button {
    right: 50px !important;
  }

  #mobile-nav {
    .bm-cross-button {
      right: 35px !important;
    }
  }
}

@media (max-width: 480px) {
  .container {
    max-width: none;
    padding: 0 25px;
  }

  .bm-burger-button {
    right: 25px !important;
  }

  #mobile-nav {
    .bm-cross-button {
      right: 25px !important;
    }
  }
}

/*
  Desktop/mobile only displays
*/
@media (min-width: 1025px) {
  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }
}

@media (max-width: 1024px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to higher resolution desktops
*/
@media (min-width: 1025px) {
  .mobile {
    display: none;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  header {
    .logo {
      width: 125px;
    }

    .bm-menu-wrap {
      width: 45% !important;
    }
  }

  #index-page {

    #generator {
      flex-direction: column;
      align-items: center;

      .preview {
        width: 100%;
        order: 2;
        flex: auto;
        margin-right: 0;
        margin-top: 50px;
      }

      .upload {
        width: 100%;
        order: 1;
        flex: auto;

        .intro {
          h1 {
            font-size: 2.5rem;
          }

          p {
            font-size: .9rem;
          }
        }

        .upload-options {
          .upload-image-form {
            .upload-box {
              .box-text {
                label {
                  padding-left: 60px;
                  padding-right: 30px;
                }

                .icon {
                  left: 30px;
                }
              }
            }

            .url-box {
              .box-text {
                input {
                  padding-left: 60px;
                  padding-right: 30px;
                }

                label {
                  left: 30px;
                }
              }
            }
          }
        }
      }
    }

    #keywords {
      margin-top: 80px;

      h4 {
        font-size: 1.3rem;
      }

      .generated-keywords {
        .keyword-button {
          width: 46%;
          font-size: .8rem;
        }
      }
    }
  }

  #about-page {
    .about-content {
      flex-direction: column;

      .info {
        width: 100%;

        p {
          max-width: none;
        }
      }

      .flowchart {
        width: 70%;
        margin: 60px auto 0;
      }

      .gradient-button {
        margin: 60px auto 0;
      }
    }
  }

  #contact-page {
    .contact-content {
      flex-direction: column;

      .info {
        width: 100%;

        p {
          max-width: none;
        }
      }

      form {
        width: 100%;
        margin-top: 60px;

        .field {
          input {
            padding-left: 60px;
            padding-right: 30px;
            text-indent: 0;
          }

          label {
            left: 30px;
          }

          textarea {
            padding-left: 30px;
            padding-right: 30px;
          }
        }
      }

      .hashtags-image {
        margin: 60px auto 0;
        width: 40%;
      }
    }
  }

  #thanks-page {
    .thanks-content {
      .info {
        p {
          max-width: none;
        }
      }

      .gradient-button {
        margin: 60px auto 0;
      }
    }
  }

  footer {
    .logo {
      width: 125px;
    }
  }

  #loading-screen {
    p {
      font-size: 4rem;
    }
  }
}

/* 
  ##Device = Mobiles and Low Resolution Tablets
  ##Screen = B/w 320px to 767px
*/
@media (min-width: 320px) and (max-width: 767px) {
  header {
    .logo {
      width: 125px;
    }

    .bm-menu-wrap {
      width: 70% !important;
    }
  }

  #index-page {

    #generator {
      flex-direction: column;
      align-items: center;

      .preview {
        width: 100%;
        order: 2;
        flex: auto;
        margin-right: 0;
        margin-top: 50px;
      }

      .upload {
        width: 100%;
        order: 1;
        flex: auto;

        .intro {
          h1 {
            font-size: 2.5rem;
          }

          p {
            font-size: .9rem;
          }
        }

        .upload-options {
          .upload-image-form {
            .upload-box {
              .box-text {
                label {
                  padding-left: 60px;
                  padding-right: 30px;
                }

                .icon {
                  left: 30px;
                }
              }
            }

            .url-box {
              .box-text {
                input {
                  padding-left: 60px;
                  padding-right: 30px;
                }

                label {
                  left: 30px;
                }
              }
            }

            #scroll-down {
              p {
                text-align: center;
                line-height: 1.4;
              }
            }
          }
        }
      }
    }

    #keywords {
      margin-top: 80px;

      h4 {
        font-size: 1.3rem;
      }

      .generated-keywords {
        .keyword-button {
          width: 46%;
          font-size: .8rem;
        }
      }
    }
  }

  #about-page {
    .about-content {
      flex-direction: column;

      .info {
        width: 100%;

        p {
          max-width: none;
        }
      }

      .flowchart {
        width: 100%;
        margin-top: 60px;
      }

      .gradient-button {
        margin: 60px auto 0;
      }
    }
  }

  #contact-page {
    .contact-content {
      flex-direction: column;

      .info {
        width: 100%;

        p {
          max-width: none;
        }
      }

      form {
        width: 100%;
        margin-top: 60px;

        .field {
          input {
            padding-left: 60px;
            padding-right: 30px;
            text-indent: 0;
          }

          label {
            left: 30px;
          }

          textarea {
            padding-left: 30px;
            padding-right: 30px;
          }
        }
      }

      .hashtags-image {
        margin: 60px auto 0;
      }
    }
  }

  #thanks-page {
    .thanks-content {
      .info {
        p {
          max-width: none;
        }
      }

      .gradient-button {
        margin: 60px auto 0;
      }
    }
  }

  footer {
    .logo {
      width: 125px;
    }
  }

  #loading-screen {
    p {
      font-size: 4rem;
    }
  }
}

/*
  Form styles for small mobile device
*/
@media (min-width: 320px) and (max-width: 349px) {

  .upload-box,
  .url-box {
    .info {
      flex-direction: column !important;

      h3,
      p {
        margin-bottom: 10px !important;
      }

      p {
        margin-left: 0 !important;
      }
    }
  }
}

/*
  iOS fixes:
  "Font-size" fixes the issue with zoom in on iOS
  "appearance" fixes box-shadow not showing on iOS
*/
@media (min-width: 320px) and (max-width: 1024px) {

  textarea,
  input,
  label[for=file] {
    font-size: 16px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}