$defaultFont: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
Oxygen-Sans,
Ubuntu,
Cantarell,
"Helvetica Neue",
sans-serif;
$lobster: "Lobster",
cursive;
$josefin: "Josefin Sans",
sans-serif;

$taggerGradient: linear-gradient(90deg, #F857A6, #F15A5A);
$lightGrey: #DDD;
$mediumGrey: #A9A9A9;
$grey: #777;
$blue: #5193B2;